In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pylab as plt

In [2]:
titanic=sb.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.drop(["who","adult_male"],inplace=True,axis=1)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,no,True